@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 9%;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #0f0f0f;
  display: grid;
  place-items: center;
}


.joinChatContainer {
  text-align: center;
  background: #1b1b1b;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 255, 120, 0.15);
  animation: fadeIn 0.8s ease-in-out;
}

.joinChatContainer h3 {
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.joinChatContainer input {
  width: 230px;
  height: 45px;
  margin: 8px 0;
  padding: 0 10px;
  background: #151414;
  border: 1.5px solid #8981ae;
  border-radius: 6px;
  color: #fff;
  outline: none;
  transition: 0.26s;
}

.joinChatContainer input:focus {
  border-color: #9381e2;
  box-shadow: 0 0 10px rgba(46, 204, 113, 0.3);
}

.joinChatContainer button {
  width: 230px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: #9381e2;
  color: #fff;
  margin-top: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s;
}

.joinChatContainer button:hover {
  background: #9381e2;
  transform: translateY(-3px);
}


.chat-window {
  width: 340px;
  height: 470px;
  background: #151515;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 255, 130, 0.15);
  overflow: hidden;
  animation: slideUp 0.6s ease-out;
}

.chat-header {
  height: 50px;
  background: #0d0d0d;
  color: #9381e2;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-weight: 600;
  border-bottom: 1px solid #8e84ba;
}

.chat-body {
  height: calc(100% - 100px);
  overflow-y: auto;
  padding: 10px;
}

.message-container::-webkit-scrollbar {
  display: none;
  
}

.message {
  display: flex;
  margin-bottom: 10px;
  animation: fadeIn 0.4s ease;
}

#you {
  justify-content: flex-end;
}

#other {
  justify-content: flex-start;
}

.message-content {
  max-width: 65%;
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: white;
  animation: pop 0.2s ease;
}
.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #a886c4;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you .message-content {
  
  background:#9381e2;
  border-bottom-right-radius: 2px;
}

#other .message-content {
  background: #333;
  border-bottom-left-radius: 2px;
}

.message-meta {
  font-size: 10px;
  color: #aaa;
  margin-top: 3px;
  display: flex;
  gap: 5px;
  padding: 0 4px;
}


.chat-footer {
  height: 51px;
  display: flex;
  border-top: 1px solid #9381e2;
}

.chat-footer input {
  flex: 1;
  background: #0f0f0f;
  border: none;
  padding-left: 10px;
  color: #fff;
  outline: none;
}

.chat-footer button {
  width: 55px;
  background: transparent;
  border: none;
  color:#9381e2;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s;
}

.chat-footer button:hover {
  color: #9381e2;
  transform: scale(1.1);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
